[submodule "deps/tc_3rdparty"]
	path = deps/tc_3rdparty
	url = git@github.com:RGAA-Software/tc_3rdparty.git
[submodule "deps/tc_client_web"]
	path = deps/tc_client_web
	url = git@github.com:RGAA-Software/tc_client_web.git
[submodule "deps/tc_common_new"]
	path = deps/tc_common_new
	url = git@github.com:RGAA-Software/tc_common_new.git
[submodule "deps/tc_message_new"]
	path = deps/tc_message_new
	url = git@github.com:RGAA-Software/tc_message_new.git
[submodule "deps/tc_steam_manager_new"]
	path = deps/tc_steam_manager_new
	url = git@github.com:RGAA-Software/tc_steam_manager_new.git
