[submodule "deps/tc_3rdparty"]
	path = deps/tc_3rdparty
	url = git@github.com:RGAA-Software/tc_3rdparty.git
[submodule "deps/tc_client_web"]
	path = deps/tc_client_web
	url = git@github.com:RGAA-Software/tc_client_web.git
[submodule "deps/tc_common_new"]
	path = deps/tc_common_new
	url = git@github.com:RGAA-Software/tc_common_new.git
[submodule "deps/tc_message_new"]
	path = deps/tc_message_new
	url = git@github.com:RGAA-Software/tc_message_new.git
[submodule "deps/tc_steam_manager_new"]
	path = deps/tc_steam_manager_new
	url = git@github.com:RGAA-Software/tc_steam_manager_new.git
[submodule "deps/tc_controller"]
	path = deps/tc_controller
	url = git@github.com:RGAA-Software/tc_controller.git
[submodule "deps/tc_capture_new"]
	path = deps/tc_capture_new
	url = git@github.com:RGAA-Software/tc_capture_new.git
[submodule "deps/tc_encoder_new"]
	path = deps/tc_encoder_new
	url = git@github.com:RGAA-Software/tc_encoder_new.git
[submodule "deps/tc_opus_codec_new"]
	path = deps/tc_opus_codec_new
	url = git@github.com:RGAA-Software/tc_opus_codec_new.git
[submodule "deps/tc_client_sdk_new"]
	path = deps/tc_client_sdk_new
	url = git@github.com:RGAA-Software/tc_client_sdk_new.git
[submodule "deps/tc_qt_widget"]
	path = deps/tc_qt_widget
	url = git@github.com:RGAA-Software/tc_qt_widget.git
[submodule "src/client/file_transmission_client"]
	path = src/client/file_transmission_client
	url = git@github.com:ChengduDreamer/file_transmission_client.git
[submodule "src/render/plugins/tc_vr_plugin"]
	path = src/render/plugins/tc_vr_plugin
	url = git@github.com:RGAA-Software/tc_vr_plugin.git
