<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>GammaRay</Name>
    <Version>1.2.0</Version>
    <Title>GammaRay</Title>
    <Publisher>RGAA</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>GammaRay</StartMenuDir>
    <TargetDir>@HomeDir@/RGAA/GammaRay</TargetDir>
</Installer>
